@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$tomato-clr: hsl(4, 100%, 67%);
$dark-slate-grey-clr: hsl(234, 29%, 20%);
$charcoal-grey-clr: hsl(235, 18%, 26%);
$grey-clr: hsl(231, 7%, 60%);
$white-clr: hsl(0, 0%, 100%);
$black-clr: rgb(0, 0, 0);
$roboto-fonts: 'Roboto', sans-serif;

@mixin font-weight($font-weight) {
    font-weight: $font-weight;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $roboto-fonts;
}

.newsletter__container {

    .newsletter__image {
        content: url("assets/images/illustration-sign-up-mobile.svg");
        height: auto;
        width: 100%;
        display: block;
    }

    .newsletter__stay-updated {
        padding: 2.5rem 2rem;

        .newsletter__title {
            font-size: 2.5rem;
            color: $dark-slate-grey-clr;
        }

        .newsletter__description {
            margin-top: 1.5rem;
            line-height: 1.5;
        }

        .newsletter__list {
            list-style-type: none;
            display: grid;
            row-gap: 1rem;
            margin-top: 1.6rem;

            .newsletter__item {
                display: flex;
                align-items: start;
                gap: .9rem;
                line-height: 1.5;

                &:before {
                    content: url("assets/images/icon-list.svg");
                }
            }
        }

        .newsletter__form {
            margin-top: 2.4rem;

            label {
                font-size: .8rem;
                @include font-weight(700);
            }

            .email__error {
                float: right;
                display: none;
                color: $tomato-clr;
                font-size: .8rem;
                @include font-weight(700);
            }

            #form__email {
                display: block;
                width: 100%;
                margin-top: .65rem;
                padding: 1rem 1.5rem;
                border: 1px solid $grey-clr;
                border-radius: 8px;
                font-size: .9rem;
                font-family: $roboto-fonts;
                background-color: $white-clr;
            }
            
            #form__submit {
                cursor: pointer;
                width: 100%;
                margin-top: 1.45rem;
                padding: 1.1rem 1.5rem;
                border: none;
                border-radius: 8px;
                color: $white-clr;
                background-color: $dark-slate-grey-clr;
                font-size: .9rem;
                font-family: $roboto-fonts;
                @include font-weight(700);

                &:hover {
                    background-color: $tomato-clr;
                    box-shadow: 0 15px 25px 0 rgb(255, 98, 87, 0.6);
                }
            }
        }
    }
}

.success__container {
    display: none;
    padding: 10rem 1.6rem 2.5rem;

    .success__logo {
        height: auto;
        width: 100%;
        max-width: 65px;
        display: block;
    }

    .success__title {
        margin-top: 2.5rem;
        font-size: 2.5rem;
    }

    .success__description {
        margin-top: 1.5rem;
        line-height: 1.5;

        .success__email {
            @include font-weight(700);
        }
    }

    .success__button {
        cursor: pointer;
        width: 100%;
        margin-top: 17.5rem;
        padding: 1.1rem 1.5rem;
        border: none;
        border-radius: 8px;
        color: $white-clr;
        background-color: $dark-slate-grey-clr;
        font-size: .9rem;
        font-family: $roboto-fonts;
        @include font-weight(700);

        &:hover {
            background-color: $tomato-clr;
            box-shadow: 0 15px 25px 0 rgb(255, 98, 87, 0.6);
        }
    }
}

@media screen and (min-width: 769px) {
    .main {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $dark-slate-grey-clr;

        padding: 2rem;
    }

    .newsletter__container {
        display: flex;
        flex-direction: row-reverse;
        background-color: $white-clr;
        max-width: 850px;
        padding: 1.5rem;
        padding-left: 3rem;
        gap: 3rem;
        border-radius: 26px;

        .newsletter__image {
            content: url("assets/images/illustration-sign-up-desktop.svg");
            max-width: 330px;
        }

        .newsletter__stay-updated {
            padding: 0;
            padding-top: 1.5rem;

            .newsletter__description {
                margin-top: 1rem;
            }

            .newsletter__list {
                row-gap: .5rem;
                margin-top: 1.6rem;

                .newsletter__item {
                    gap: .9rem;
                }
            }

            .newsletter__form {
                margin-top: 1.5rem;
            }
        }
    }

    .success__container {
        max-width: 460px;
        padding: 3rem;
        background-color: $white-clr;
        border-radius: 26px;

        .success__title {
            margin-top: 2rem;
            font-size: 3rem;
        }

        .success__description {
            margin-top: 1.3rem;
        }

        .success__button {
            margin-top: 2rem;
        }
    }
}

@media screen and (min-width: 1280px) {
    .newsletter__container {
        
        .newsletter__stay-updated {
            padding-top: 2.5rem;
        }
    }
}
